<?xml version="1.0"?>
<!--
/**
 * @category   Zanders
 * @package    Zanders_Manufacturer
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zanders_Manufacturer::manufacturer" title="Manufacturer" module="Zanders_Manufacturer" sortOrder="100"
             parent="Zanders_Sports::zanders_catalog" action="zanders_manufacturer/items/"
             resource="Zanders_Manufacturer::manufacturer"/>
    </menu>
</config>
