<?xml version="1.0"?>
<!--
/**
 * @category   Zanders
 * @package    Zanders_CategoryCode
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="zanders_categorycode" frontName="zanders_categorycode">
            <module name="Zanders_CategoryCode" />
        </route>
    </router>
</config>