<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="promotion_listing_data_source" xsi:type="string">
                    Zanders\Promotion\Model\ResourceModel\Promotion\Grid\Collection
                </item>
                <item name="bogo_listing_data_source" xsi:type="string">
                    Zanders\Promotion\Model\ResourceModel\Bogo\Grid\Collection
                </item>
                <item name="toppromo_listing_data_source" xsi:type="string">
                    Zanders\Promotion\Model\ResourceModel\TopPromo\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Zanders\Promotion\Model\ResourceModel\Promotion\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zanders_promotion</argument>
            <argument name="resourceModel" xsi:type="string">Zanders\Promotion\Model\ResourceModel\Promotion</argument>
        </arguments>
    </virtualType>
    <virtualType name="Zanders\Promotion\Model\ResourceModel\Bogo\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zanders_bogo</argument>
            <argument name="resourceModel" xsi:type="string">Zanders\Promotion\Model\ResourceModel\Bogo</argument>
        </arguments>
    </virtualType>
    <virtualType name="Zanders\Promotion\Model\ResourceModel\TopPromo\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zanders_toppromo</argument>
            <argument name="resourceModel" xsi:type="string">Zanders\Promotion\Model\ResourceModel\TopPromo</argument>
        </arguments>
    </virtualType>
    <!-- For filter -->
    <type name="Zanders\Promotion\Ui\Component\PromotionDataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">
                    Zanders\Promotion\Ui\Component\Promotion\FulltextFilter
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Zanders\Promotion\Ui\Component\BogoDataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">
                    Zanders\Promotion\Ui\Component\Bogo\FulltextFilter
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Zanders\Promotion\Ui\Component\TopPromoDataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">
                    Zanders\Promotion\Ui\Component\TopPromo\FulltextFilter
                </item>
            </argument>
        </arguments>
    </type>
</config>
