/* Common */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background: #efefef;
    font: 12px/1.55 Montserrat, Helvetica, sans-serif;
    color: #2f2f2f;
}
body .page-main {
    background: #06466C;
    min-height: 900px;
}
header.page-header, .page-footer, .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main {
	width: 1366px !important;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 100% !important;
}
::-webkit-scrollbar{width:7px;}
::-webkit-scrollbar-track{box-shadow:inset 0 0 5px grey;border-radius:7px;}
::-webkit-scrollbar-thumb{background:#777;border-radius:7px;}
/* Footer */
.footer .menu {
    display: table;
    width: 100%;
    padding: 20px 0 30px;
}
footer.page-footer {
    text-align: center;
}
.footer .phonenumber {
    text-align: center;
    width: 390px;
    font-size: 16px;
    font-weight: bold;
    background: white;
    float: left;
}
.footer .phonenumber ul {
    padding-left: 130px;
    text-align: left;
	margin-bottom: 0;
}
.footer .phonenumber li {
    display: block;
    text-align: left;
	margin: 0;
	color: #202020;
}
.footer .phonenumber li.need-help {
    font: 400 21px/21px Montserrat, Helvetica, sans-serif;
    margin-top: 16px;
}
.footer .phonenumber li.call-free {
    font: bold 15px/23px Montserrat, Helvetica, sans-serif;
    color: white;
    margin-top: 3px;
    background-color: #944D2C;
    display: inline-block;
    padding: 0 7px;
}
.footer .phonenumber li.number {
    font: 400 23px/23px Montserrat, Helvetica, sans-serif;
    margin-top: 9px;
}
.footer .phonenumber li.hours {
    font: 400 28px/28px Montserrat, Helvetica, sans-serif;
    margin-top: 20px;
}
.footer .phonenumber li.days {
    font: 400 18px/18px Montserrat, Helvetica, sans-serif;
    margin-top: 7px;
}
.footer .phonenumber li.time {
    font: 400 20px/20px Montserrat, Helvetica, sans-serif;
    margin-top: 5px;
}
.footer .phonenumber .telephone {
    height: 0;
    width: 0;
    position: relative;
    top: -178px;
    left: 62px;
}
.footer .phonenumber .telephone-img {
    background: url(../images/css_sprites.png) 59px -10px;
    width: 49px;
    height: 41px;
}
.footer .phonenumber .sandglass {
    height: 0;
    width: 0;
    position: relative;
    top: -80px;
    left: 69px;
}
.footer .phonenumber .sandglass-img {
    background: url(../images/css_sprites.png) 59px -71px;
    width: 34px;
    height: 44px;
}
.footer .separator {
    float: left;
    height: 60px;
    width: 2px;
    background-color: #6B6B6B;
    margin: 0;
    margin-top: 94px;
}
.footer .menu-links {
    float: left;
    width: 604px;
}
.footer .menu-links .title {
    font: 400 28px/28px Montserrat, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #202020;
}
.footer ul.links {
    display: block;
    float: left;
    font-size: 16px;
    padding-left: 100px;
    margin-bottom: 0;
}
.footer ul.links li {
    display: inline-block;
    width: 45%;
    float: left;
    font-size: 16px;
    line-height: 24px;
    color: #202020;
    text-decoration: underline;
    text-align: left;
	    margin-bottom: 0;
}

.links li.first {
    padding-left: 0 !important;
}
.footer a {
    color: #203254;
    text-decoration: none;
}
.footer li.last {
    background: none !important;
    padding-right: 0 !important;
}
.footer .logotype {
    float: left;
    width: 360px;
    background: white;
    padding: 25px 0 31px 0;
}
.footer a.logo {
    background: url(../images/css_sprites.png) -10px -10px;
	width: 272px;
    height: 141px;
    margin: 0 0 0 25px !important;
    max-width: 100%;
}
.footer .basement {
    float: left;
    width: 100%;
    background: #CB0101;
    text-align: left;
}
.footer .basement .connected {
    font-size: 18px;
    line-height: 55px;
    font-weight: 400;
    color: white;
    padding: 0 22px;
    display: inline-block;
}
.footer .basement .connected a {
    padding-left: 10px;
    color: white;
}
.footer .address {
    padding: 10px;
    color: #fff;
    background: #CB0101;
    text-align: right;
    float: right;
}
address {
    font-style: normal;
    line-height: 1.35;
}
.page-footer {
	background: #fff !important;
    padding-bottom: 0 !important;
}

/*header*/
.logo {
    margin: 0 !important;
	max-width: 100%;
}
.header .phone-number {
    position: relative;
    width: 160px;
    float: left;
    text-align: left;
    top: 33px;
    left: 59px;
}
.header .phone-number .fa-phone {
    font-size: 33px;
    position: absolute;
    left: -51px;
    top: 20px;
    transform: scaleX(-1);
}
.header .phone-number .number {
    font-size: 24px;
}
.header .quick-access {
    float: right;
    width: 850px;
    padding: 0;
    position: relative;
    top: 40px;
}
.header .welcome-msg {
    margin: 0;
    color: #000;
    text-align: right;
}
.header .links {
    float: right;
    margin: 0 0 6px;
	list-style: none;
}
.header .links li {
    float: left;
    font-size: 18px;
    padding: 0 7px 0 7px;
	display: inline;
}
.links li.first {
    padding-left: 0;
}
.header .links a {
    color: #000000;
    text-decoration: none;
}
.links li.last {
    background: none;
    padding-right: 0;
}
.nav-sections-item-content > * {
    display: block !important;
}
.sections.nav-sections{
	float: left;
	margin-bottom: 0;
}
.search-menu-cart .block-search{
	float: left;
    width: 562px;
	margin-top: 10px;
	margin-left: 35px;
	padding-left: 0;
}
.search-menu-cart {
    padding-left: 25px;
    height: 70px;
    background: #343434;
    position: relative;
}
.search-menu-cart .block-search input {
    padding: 0 60px;
    width: 562px;
    height: 52px;
    line-height: 50px;
    font-size: 16px;
    color: #808080;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(145,145,145,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(145,145,145,1);
    box-shadow: inset 0px 0px 5px 1px rgba(145,145,145,1);
}
.search-menu-cart .block-search .control::before{
	position: absolute;
    left: 20px;
    top: 11px;
    width: 31px;
    height: 31px;
    background: url(../images/css_sprites.png) -246px -222px;
    content: ' ';
    z-index: 10;
}
.search-menu-cart .block-search .actions {
    display: none;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
    display: inline-block;
}
.search-menu-cart .minicart-wrapper {
    height: 70px;
    background: #991020;
    width: 320px;
	text-align: center;
    font-size: 16px;
}
.search-menu-cart .minicart-wrapper::before {
    position: absolute;
    left: 27px;
    top: 21px;
    width: 34px;
    height: 32px;
    background: url(../images/mini-cart.png);
    content: ' ';
	background-repeat: no-repeat;
}
.search-menu-cart .minicart-wrapper .showcart .block-cart .block-content span {
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #fff;
}
.minicart-wrapper .action.showcart:before{
	display:none !important;
}
.page-wrapper .header.content {
    padding: 25px;
}
.header .links a.my-account {
    color: #c40000;
    font-weight: bold;
}
.page-layout-1column .column.main {
    float: right;
    width: 1011px !important;
}
.minicart-wrapper .action.showcart.active:active:before{
    display: none;
}
.minicart-wrapper a.product-item-photo {
    border: 1px solid #a9a9a9;
}
div#minicart-content-wrapper {
    text-align: left;
}
.minicart-wrapper .minicart-items .product-item-name a {
    color: #000;
    font-size: 12px;
}
.minicart-wrapper .minicart-items .product-item-name{
    margin: 0;
    padding-right: 34px;
}
.minicart-wrapper .minicart-items .product-item-details {
    padding-left: 60px;
}
.minicart-wrapper .block-minicart li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-menu-cart .minicart-wrapper .product .actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}
.search-menu-cart .minicart-wrapper .action.edit:before{
    background: url(../images/btn_edit.gif) 0 0 no-repeat;
    content: '';
    width: 11px;
    height: 11px;
}
.search-menu-cart .minicart-items .action.delete:before {
    content: '';
    background: url(../images/btn_remove.gif) 0 0 no-repeat;
    width: 11px;
    height: 11px;
}
.minicart-wrapper .product .actions > .primary:not(:last-child) {
    margin-right: 5px;
}
.search-menu-cart .minicart-wrapper .block-minicart {
    margin-top: 0;
    width: 320px;
    right: 0;
    border: 0;
}
.search-menu-cart .minicart-items-wrapper{
    padding: 7px 0;
    margin: 0;
    border: 0;
}
.minicart-wrapper .block-minicart {
    width: 320px;
    right: 0;
    border: 0;
    padding: 10px;
}
.minicart-wrapper .block-minicart .subtitle {
    display: block;
    text-align: center;
    font-size: 12px;
}
.minicart-wrapper .product-item-pricing {
    margin-top: -5px;
}

.block-minicart .block-content > .actions a {
    color: #fff;
    text-transform: uppercase;
    font: bold 12px/26px Montserrat, Helvetica, sans-serif;
    font-size: 16px;
}
.block-minicart .block-content > .actions {
    margin-top: 8px;
    background: #50a725;
    padding-top: 7px;
    padding-bottom: 6px;
}
.block-minicart .block-content > .actions a:hover {
    text-decoration: none;
}
.block-minicart .block-content > .actions:hover {
    background: #3a7a1a;
}
.search-menu-cart .minicart-items .product-item:not(:first-child) {
    border-top: 0;
}
.search-menu-cart .price-container {
    display: inline-block;
}
span.miniqty:after {
    content: 'x';
    padding-left: 3px;
    font-weight: 400;
}
span.miniqty {
    font-size: 12px;
    font-weight: bold;
}
.minicart-items .product-item-details .price {
    font-weight: normal;
    font-size: 12px;
}
.subtotal-section {
    padding: 7px;
    background: #efefef;
    font-size: 12px;
    text-align: center;
}
.subtotal-section span.price {
    font-weight: 700;
}
.minicart-wrapper .block-minicart li:nth-child(even) {
    background: #fafafa;
}


/*sidebar */
.sidebar.sidebar-additional {
    float: right;
    width: 260px;
    padding: 0;
    background: none;
}
.sidebar form#login-form {
    background: #f8f7f5;
    padding: 5px 10px;
}
.sidebar .block-title {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 2px 9px;
    text-transform: uppercase;
    margin: 0;
}
.sidebar .block-customer-login input {
    width: 180px;
    height: 23px;
    font-size: 11px;
    padding-left: 2px;
}
.sidebar .block-customer-login label.label {
    padding: 0 !important;
}
.sidebar .block-customer-login .field {
    margin-bottom: 5px !important;
}
.sidebar .block-customer-login .actions-toolbar {
    float: right;
}
.sidebar .block-customer-login .actions-toolbar button {
    display: block;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0 8px;
    font: 400 14px/26px Montserrat, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    border-color: #406a83;
    background: #618499;
    border-radius: 0;
}
.sidebar .block-customer-login strong#block-customer-login-heading {
    background: url(../images/i_ma-info.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
}
.sidebar .block {
    background: #f8f7f5;
}
.sidebar .block-title strong {
    font-size: 11px;
    font-weight: 700;
}
.sidebar .block-title strong#block-compare-heading, .sidebar .block-title strong#block-reorder-heading {
    background-image: url(../images/i_block-list.gif);
    background-position: 0 -1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.sidebar .block-wishlist .block-title strong {
    background-image: url(../images/i_block-wishlist.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 -1px;
}
.page-main .sidebar .block {
    margin-bottom: 15px;
    border: 1px solid #c4c1bc;
}
.sidebar .product-item .product-item-name a {
    font-size: 10px;
    line-height: 12px;
}
.sidebar .product-item .product-item-name a:hover {
    text-decoration: underline;
}
.sidebar .product-item .product-item-name {
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 0;
}
.sidebar .block-compare .action.delete {
    right: 10px;
    left: initial;
    top: 7px;
}
.sidebar .product-items-names .product-item {
    padding: 7px 9px;
    margin-bottom: 0;
}
.sidebar .product-items-names li.product-item:nth-child(odd) {
    background: #f4f3f3;
}
.sidebar .block-compare .actions-toolbar {
    margin-top: 0;
    padding: 5px 0;
}
.sidebar .block-compare .actions-toolbar .primary {
    float: right;
}
.sidebar .block-compare .actions-toolbar .primary a.action {
    margin-right: 9px;
    background: #50a725;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    padding: 6px 10px 4px;
}
.sidebar .block-compare .actions-toolbar a#compare-clear-all {
    color: #203254;
    padding-left: 8px;
}
.page-main .sidebar .block .empty {
    padding: 10px;
}
.sidebar .block-compare .counter {
    font-size: 11px;
}
.sidebar-additional .block.widget .products-grid .product-item {
    width: 100% !important;
    text-align: left;
}
.sidebar .block-viewed-products-grid .products-grid .product-item .actions-secondary {
    display: none;
}
.sidebar .block-viewed-products-grid .products-grid .product-item .product-item-description {
    display: none;
}
.sidebar .block-viewed-products-grid .products-grid .product-item .product-item-info:hover {
    background: initial;
}
.sidebar .block-viewed-products-grid .products-grid .product-item li.product-item:nth-child(odd) {
    background: #f4f3f3;
}
.sidebar .block-viewed-products-grid .products-grid .product-item li.product-item:nth-child(even) {
    background: #fafafa;
}
.sidebar .block-viewed-products-grid .block-title strong {
    background-image: url(../images/i_block-viewed.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
}
.sidebar .block-viewed-products-grid .product-item-actions {
    display: none !important;
}
.sidebar .block-viewed-products-grid .product-item .product-item-name {
    margin-right: 0;
    padding: 0 5px;
}
.sidebar .product-items .action.delete:before {
    content: '';
    background: url(../images/btn_remove.gif) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 5px;
}
.sidebar .block-wishlist strong.subtitle {
    display: block !important;
    background: none;
    padding: 5px 9px;
    font-size: 12px;
}
.sidebar .block-wishlist .actions-toolbar .primary {
    float: right;
}
.block.block-wishlist a.product-item-photo {
    border: 1px solid #a9a9a9;
}
.block.block-wishlist a.product-item-photo span.product-image-container {
    margin: 0;
}
.block.block-wishlist .product-image-wrapper {
    padding-bottom: 100% !important;
}
.block.block-wishlist .product-image-photo, .block.block-wishlist .product-image-container{
    width: 50px !important;
    height: 50px !important;
}
.block.block-wishlist .product-item .price-box .price {
    font-size: 12px;
}



.sidebar .product-items .price-box {
    margin: 0;
}

.sidebar .product-items .product-item-actions {
    margin: 0;
    clear: none;
}
.sidebar .product-items .product-item {
    margin-bottom: 0;
    padding: 5px 8px;
}
.block.block-wishlist .actions-toolbar .primary a.action {
    font-size: 11px;
    color: #000;
    padding: 5px 0;
}
.sidebar .block-wishlist .counter {
    font-size: 11px;
}
.block.block-wishlist .product-item .action.primary {
    background: initial;
    border: 0;
    padding: 0;
    font-size: 11px;
    color: #dc6809;
}
.page-products .block.block-wishlist .product-item-actions {
    position: initial;
    clear: none;
    padding-left: 62px;
}

.sidebar  .block.block-wishlist .product-items .product-item {
    margin-bottom: 0;
}

.block.block-wishlist .actions-toolbar {
    text-align: right;
    width: 100%;
}
.block.block-wishlist .actions-toolbar .actions-toolbar .primary {
    float: right;
}

.sidebar li.product-item:nth-child(odd) {
    background: #f4f3f3;
}

.sidebar .block.block-reorder button.action.tocart.primary {
    background: #ea122b;
    border: 0;
    padding: 10px 10px;
    margin-right: 10px;
}

.sidebar .block-reorder .actions-toolbar .primary {
    float: right;
}

.sidebar .block-reorder .actions-toolbar {
    margin: 5px 0;
}
.sidebar .block-reorder .actions-toolbar .secondary a {
    font-size: 11px;
    color: #000;
    padding-left: 8px;
}