.page-products.page-layout-3columns .sidebar-main {
    width: 270px;
    padding: 0;
}
.page-products.page-layout-3columns .column.main {
    width: 710px;
    margin-left: 35px;
}
.page-products .page-main {
    padding: 25px 25px 80px;
}
.filter.block {
    background: #fff;
}
.catalog-category-view .page-title-wrapper {
    display: none;
}
.breadcrumbs {
    background: initial;
    padding: 0 !important;
}
.breadcrumbs a, .breadcrumbs a:hover, .breadcrumbs a:visited {
    color: #fff;
	text-decoration: none;
}
.breadcrumbs .item:not(:last-child):after {
    content: '/';
    color: #fff;
    font-size: 15px;
    margin: 0px 2px;
    line-height: 15px;
}
.breadcrumbs strong {
    color: #fff;
}
.category-view {
    display: none;
}
h2.category-name-top {
    margin: 0;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}
.category-description {
    margin: 5px 0 16px;
    font-size: 24px;
    color: white;
    line-height: 20px;
}

/* toolbar */
.toolbar .sorter .modes {
    margin-right: 5px;
}
.toolbar-products .pages {
    display: block;
}
.toolbar .pager {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 14px;
    padding: 0;
    line-height: 14px;
    height: 36px;
    text-align: center;
	color: #fff;
}
.page-products .toolbar .limiter {
    float: right;
    display: block;
	padding: 7px 0;
}
.toolbar .sorter {
    width: 100%;
    font-size: 14px;
    height: 36px;
    padding: 11px 0;
    border-bottom: none;
}
.page-products .sorter {
    float: right;
    width: 100%;
	color: #fff;
    font-size: 14px;
	padding: 10px 0 0 0;
}
.toolbar-sorter.sorter {
    float: right;
    padding-right: 36px;
    width: auto;
    padding: 0;
}
.toolbar .pages a.page, .pages a.page:active, .pages a.page:hover {
    color: #fff;
}
.toolbar .pages strong.page {
    background: initial;
    color: #fff;
    font-size: 14px;
}
.toolbar .pages .item {
    margin: 0;
}
.toolbar .pages .action > span {
    position: relative;
}
.toolbar .pages .action > span.label {
    position: absolute;
}
.toolbar .pages .action:before{
	display: none;
}
.toolbar .pages .action, .toolbar .pages .action:hover {
    background: initial;
    border: 0;
    box-shadow: none;
    color: #fff;
    margin: 0;
}
.toolbar select {
    height: 22px;
    font-size: 10px;
    border-radius: 0;
	background: #ffffff url(../images/select-bg.svg) no-repeat 100% 49%;
}
.toolbar .toolbar-amount {
    padding: 9px 0;
}
.toolbar .pages .items {
    padding-top: 3px;
}
.toolbar .sorter-action:before {
    content: "\f062";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FF7A19;
    font-size: 12px;
}
.toolbar .sorter-action:hover:before {
    color: #FF7A19;
}
.toolbar .sorter-action.sort-desc:before {
    content: "\f063";
}
.toolbar .pages > .label {
    position: relative;
}
.toolbar .pages > .label:after {
    content: ':';
    padding-left: 2px;
}
.toolbar .modes-mode > span {
    position: relative;
}
.toolbar .modes-mode:before{
	display: none;
}
.toolbar .sorter .modes-mode {
    background: initial;
    border: 0;
    box-shadow: none;
    color: #fff;
    padding: 3px 0;
    margin-right: 10px;
}
.toolbar .modes-mode.active {
    font-weight: 700;
}
.toolbar .sorter .modes-label {
    position: relative;
    float: left;
    width: auto;
    font-weight: 400;
    margin: 0;
    height: auto;
}
.toolbar .sorter .modes-label:after {
    content: ':';
    padding-left: 2px;
    padding-right: 5px;
}
.page-products .products.wrapper ~ .toolbar .toolbar-amount, .page-products .products.wrapper ~ .toolbar .sorter, .page-products .products.wrapper ~ .toolbar .modes {
    display: block;
}
.page-products .products.wrapper ~ .toolbar .pages {
    float: none;
}
.page-products .products.wrapper ~ .toolbar.toolbar-products {
    margin-bottom: 0;
}



/*  product grid*/

.page-products .products-grid .product-item {
    padding: 1.5% 1% !important;
    margin: 1%;
    flex-grow: 0;
    flex-basis: 32%;
    float: none;
    width: 32% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
}

.page-products.page-layout-3columns .products-grid .product-item:nth-child(3n){
    margin-right: 0;
}
.page-products ol.products.list.items.product-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.page-products .product-item-info {
    width: 100%;
}
.page-products .products-grid .product-item-info:hover, .page-products .products-grid .product-item-info.active {
    background: #ffffff;
    box-shadow: unset;
    border: 0;
    margin: 0;
    padding: 0;
}
.page-products .products-grid .product-item-inner {
    background: #ffffff;
    box-shadow: unset;
    border: 0;
    border-top: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: initial;
}
.page-products .products-grid .product-item-actions {
    margin: 0;
}
.page-products .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}
h3.listing-module-title {
    color: #fff;
    text-transform: uppercase;
    font: normal 64px/75px Oswald;
    letter-spacing: -0.5px;
    margin: 25px auto;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
h3.listing-module-title:after {
    content: ' ';
    position: absolute;
    border-bottom: 5px solid #fff;
    bottom: -10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.page-products .products.wrapper.grid.products-grid {
    margin: 0;
}
.page-products a.product-item-link {
    font: normal 16px/18px Montserrat,sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.page-products .products-grid .desc, .content-bottom-area .product-itemnumber {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.product-image-container{
    margin-bottom: 10px;
}
.product-itemnumber .value {
    font-weight: bold;
}
.products-grid .price-box {
    margin: 5px 0;
}
.products-grid .price-box .price {
    font-weight: normal;
    font-size: 18px;
    color: #000;
}
.product-item .action.towishlist:before, .product-item .action.tocompare:before  {
    content: '';
    display: none;
}
.product-item-actions .actions-primary + .actions-secondary > .action {
    width: 100%;
}
..product-item-actions .actions-secondary > .action span {
    position: relative;
    margin: 0;
}
.product-item-inner .product-item-actions a.action.actions-secondary {
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 12px !important;
}
.product-item-inner .product-item-actions a.action.towishlist.actions-secondary {
    color: #991020;
    margin-top: 8px;
}
.product-item-inner .product-item-actions .actions-secondary > .action span {
    position: relative;
}
.product-item-inner .product-item-actions a.action.actions-secondary:hover {
    text-decoration: underline;
}
.product-item-inner button.action.tocart.primary {
    background: #ea122b;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    height: 43px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    font: bold 14px/43px Montserrat, Helvetica, sans-serif;
    border: 0;
    margin-top: 5px;
}
.product-item-inner button.action.tocart.primary span {
    color: #fff;
    display: inline-block;
    border: 0;
    background: none;
    font: normal 18px/43px Montserrat, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 0;
    height: 43px;
    text-decoration: none;
    text-transform: uppercase;
}
.product-item-inner button.action.tocart.primary:hover {
    background-color: #991020;
}
.products-grid .actions input.qty {
    height: 20px;
    border: 1px solid #000;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    width: 2.5em;
    padding: 2px;
}
.qty-box label {
    font-size: 12px;
    vertical-align: 3px;
}
.page-products .product.details.product-item-details {
    text-transform: uppercase;
}
.page-products .product-itemnumber {
    font-size: 12px;
}
.product-item-actions .actions-primary + .actions-secondary > a.action.towishlist {
    color: #991020;
}
.product-item-actions .actions-primary + .actions-secondary > a {
    font-size: 11px;
    line-height: 11px !important;
    text-transform: capitalize;
}
.product-item-actions .actions-primary + .actions-secondary {
    margin-top: 4px;
}
/* Product List */
.page-products .products.products-list {
    background-color: #EAE8E4;
    padding: 0 24px;
    margin-bottom: 30px;
}
.page-products .products-list .product-item{
    border-bottom: 1px solid black;
    padding-top: 29px;
    padding-bottom: 29px;
}
.page-products .products-list .product-item .product-item-photo {
    padding: 0;
}
.page-products .products-list .product-item .product-item-photo span.product-image-container {
    border: 6px solid #CCCCCC;
}
.page-products .products-list .product-item .product-item-photo .product-image-container {
    margin: 0;
}
.page-products .products-list .product-item-details {
    padding-left: 25px;
}
.page-products .products-list .product-item a.product-item-link {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 24px;
    color: black;
    line-height: 26px;
}
.page-products .products-list .desc.std {
    font-size: 13px;
}
.page-products .products-list .product-itemnumber {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 2px;
}
.page-products .products-list .product-itemnumber span.value {
    color: forestgreen;
}
.page-products .products-list .product-item .price-box .price-final_price .price {
    font-weight: 600;
    color: green;
    font-size: 36px;
    line-height: 42px;
}
.page-products .products-list .qty-box {
    display: inline-block;
}
.page-products .products-list .product-item-inner button.action.tocart.primary {
    margin-top: -4px;
}
.page-products .products-list .product-item-actions .actions-primary + .actions-secondary > a.action.towishlist:after {
    content: '|';
    padding: 0 8px;
}
.page-products .products-list .product-item-actions .actions-primary + .actions-secondary > .action{
    display: inline;
    font-size: 14px;
}
.page-products .products-list .product-item-actions .actions-primary + .actions-secondary{
    width: 100%;
    margin-top: 10px;
}
.page-products .products-list .product-item .price-box {
    font-size: 25px;
}
.page-products .products-list .product-item .price-box .price {
    font-weight: 400;
}
.page-products .products-list .qty-box input {
    width: 50px;
    margin-left: 10px;
    height: 45px;
}
.page-products .products-list .qty-box label {
    font-size: 18px;
    vertical-align: 3px;
    display: inline-block;
    line-height: 43px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}
.page-products .products-list .price-box span.price-value {
    color: #ed1c36;
    font-weight: 600;
}
.page-products .products-list .product-item:last-child {
    border: 0;
}
/* simple mode*/
.page-products .products.products-simple {
    background-color: #EAE8E4;
    padding: 0 24px;
    margin-bottom: 30px;
}
.page-products .products.products-simple li.product-item {
    border-bottom: 1px solid #d9ddd3;
    padding: 12px 10px;
    width: 100%;
}
.page-products .products.products-simple .product-item-info{
    font-size: 12px;
}
.page-products .products.products-simple a.product-item-link {
    font-size: 13px;
}
.page-products .products.products-simple .product-item .price-box {
    text-align: right;
    color: #ea122b;
    margin-bottom: 10px;
    float: left;
    margin-left: 44px;
}
.page-products .products-simple .product-info {
    float: left;
}
.page-products .products-simple .product-item-inner {
    float: right;
}
.page-products .products-simple .product-item-inner .actions-primary {
    float: right;
    margin-left: 20px;
}
.page-products .products-simple .qty-box {
    display: inline-block;
}
.page-products .products-simple .qty-box input {
    width: 38px;
    height: 24px;
}
.page-products .products-simple .product-item-inner button.action.tocart.primary {
    margin-top: 0;
}
.page-products .products-simple .product-item-inner button.action.tocart.primary span {
    font-size: 14px;
    font-weight: 600;
}
.page-products .products-simple .qty-box label{
    vertical-align: initial;
}
.catalogsearch-result-index h1.page-title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}
.catalogsearch-result-index .search.results .block {
    display: none;
}