body .page-main{padding-bottom: 80px;padding-top: 25px;}
.page-layout-1column .column.main{float: left;width: 100% !important;}
.password.forget{width: 100% !important;}
.password.forget .fieldset {border: 0;background: #fff;padding: 22px 25px 12px 33px;margin: 0px 0 0;}
.form.password.forget .fieldset .field.note{margin: 0 0 10px;}
.form.password.forget .fieldset .field .control{width: 25%;}
.form.password.forget .fieldset:after{color: #991020;font-size: 11px !important;text-align: right;margin: 0 !important;}
.password.forget .fieldset .legend {font-weight: normal;font-size: 24px;border: 0;background: none;color: #000;margin: 0 0 15px;padding: 0;position: relative;}
.password.forget .fieldset .field label {color: #000;font-weight: 400;font-size: 14px;margin: 0;}
.password.forget .actions-toolbar {border: 0;margin-top: 0;background: #fff;padding: 0 25px 25px;}
.customer-account-forgotpassword .actions-toolbar .primary {float: right;}
.customer-account-forgotpassword .actions-toolbar > .secondary .action.back{display: block;text-transform: uppercase;color: #000;text-decoration: none;}
.customer-account-forgotpassword .actions-toolbar > .secondary .action.back span{font-size: 14px;}
.password.forget .actions-toolbar .primary button.action {margin-right: 0px;background: #50a725;box-shadow: none;color: #fff;border: 0;border-radius: 0;padding: 0 30px;height: 30px;font: 400 14px/28px Montserrat, sans-serif;}