img.img-responsive {
    display: block;
}
.content-bottom-area {
    margin-bottom: 50px;
}
.featured-categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.page-layout-1column .column.main {
    padding-bottom: 0;
}
.featured-categories-item {
    margin: 1%;
    flex-grow: 0;
    flex-basis: 23.5%;
    float: none;
    width: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
	margin-top: 0;
}
.featured-categories-item:nth-of-type(4n+1) {
    margin-left: 0;
}
.category-image {
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px;
    text-align: center;
}
.featured-categories-item a {
    display: inline-block;
    position: relative;
    width: 100%;
}
.featured-categories-item .category-image img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}
 .featured-categories-item:nth-of-type(4n) {
    margin-right: 0;
}
.page-main .block-static-block.widget {
    margin-bottom: 0;
}



.page-layout-1column .products-grid .product-item {
    width: 25%;
    padding: 1.5% 1%;
    margin: 1%;
    flex-grow: 0;
    flex-basis: 23.5%;
    float: none;
    width: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
}
.content-bottom-area ol.products.list.items.product-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.page-layout-1column .products-grid .product-item:nth-child(3n + 1) {
    margin: 1%;
}
.page-layout-1column .products-grid .product-item:first-child {
    margin-left: 0;
    margin-right: 1%;
}
.page-layout-1column .products-grid .product-item:nth-of-type(4n+1) {
    margin-left: 0;
}
.page-layout-1column .products-grid .product-item:nth-child(4n) {
    margin-left: 1%;
    margin-right: 0;
}
.content-bottom-area .product-item-info {
    width: 100%;
}
.content-bottom-area .products-grid .product-item-info:hover, .content-bottom-area .products-grid .product-item-info.active {
    background: #ffffff;
    box-shadow: unset;
    border: 0;
    margin: 0;
    padding: 0;
}
.content-bottom-area .products-grid .product-item-inner {
    background: #ffffff;
    box-shadow: unset;
    border: 0;
    border-top: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: initial;
}
.content-bottom-area .products-grid .product-item-actions {
    margin: 0;
}
.content-bottom-area .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}
h3.listing-module-title {
    color: #fff;
    text-transform: uppercase;
    font: normal 64px/75px Oswald;
    letter-spacing: -0.5px;
    margin: 25px auto;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
h3.listing-module-title:after {
    content: ' ';
    position: absolute;
    border-bottom: 5px solid #fff;
    bottom: -10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.content-bottom-area .products.wrapper.grid.products-grid {
    margin: 0;
}
.content-bottom-area a.product-item-link {
    font: normal 18px/18px Montserrat,sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.content-bottom-area .products-grid .desc, .content-bottom-area .product-itemnumber {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.product-image-container{
    margin-bottom: 10px;
}
.product-itemnumber .value {
    font-weight: bold;
}
.products-grid .price-box {
    margin: 5px 0;
}
.products-grid .price-box .price {
    font-weight: normal;
    font-size: 18px;
    color: #000;
}
.products-grid .price-box .price .price-value {
    font-weight: bold;
    color: #ff0000;
}
.product-item .action.towishlist:before, .product-item .action.tocompare:before  {
    content: '';
    display: none;
}
.product-item-actions .actions-primary + .actions-secondary > .action {
    width: 100%;
}
..product-item-actions .actions-secondary > .action span {
    position: relative;
    margin: 0;
}
.product-item-inner .product-item-actions a.action.actions-secondary {
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 12px !important;
}
.product-item-inner .product-item-actions a.action.towishlist.actions-secondary {
    color: #991020;
    margin-top: 8px;
}
.product-item-inner .product-item-actions .actions-secondary > .action span {
    position: relative;
}
.product-item-inner .product-item-actions a.action.actions-secondary:hover {
    text-decoration: underline;
}
.product-item-inner button.action.tocart.primary {
    background: #ea122b;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    height: 43px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    font: bold 14px/43px Montserrat, Helvetica, sans-serif;
    border: 0;
    margin-top: 5px;
}
.product-item-inner button.action.tocart.primary span {
    color: #fff;
    display: inline-block;
    border: 0;
    background: none;
    font: normal 18px/43px Montserrat, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 0;
    height: 43px;
    text-decoration: none;
    text-transform: uppercase;
}
.product-item-inner button.action.tocart.primary:hover {
    background-color: #991020;
}
.products-grid .actions input.qty {
    height: 26px;
    border: 1px solid #000;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    width: 2.5em;
    padding: 2px;
}
.qty-box label {
    font-size: 12px;
    vertical-align: 3px;
}