.page-layout-2columns-right .column.main {
    margin-left: 310px;
    width: 717px;
}
span.manufacturer {
    display: block;
    color: #fff;
    font-size: 14px;
    width: 100%;
    vertical-align: top;
    margin-right: 1%;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}
.std .manufacturer br {
    display: none;
}
.std .manufacturer a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.cms-page-view .column.main p{
	margin-bottom: 0;	
}