<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sports">
            <group id="bogo" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Buy One Get One Promo</label>
                <field id="send_to" translate="label" type="textarea" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send E-Mail to</label>
                    <comment>One E-Mail addresses per line</comment>
                </field>
            </group>
            <group id="promotions" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Promotions</label>
                <field id="currentcatalog" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Current Catalog Label</label>
                </field>
                <field id="currentarcherycatalog" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Current Archery Catalog Label</label>
                </field>
                <field id="currentflyer" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Current Flyer Label</label>
                </field>
                <field id="currentstuffer" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Current Stuffer Label</label>
                </field>
            </group>
        </section>
    </system>
</config>
