<?xml version="1.0"?>
<!--
/**
 * @category   Zanders
 * @package    Zanders_Manufacturer
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zanders\Manufacturer\Api\Data\ManufacturerSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Zanders\Manufacturer\Api\Data\ManufacturerInterface"
                type="Zanders\Manufacturer\Model\Manufacturer"/>
    <preference for="Zanders\Manufacturer\Api\ManufacturerRepositoryInterface"
                type="Zanders\Manufacturer\Model\ManufacturerRepository"/>
    <!--<preference for="Zanders\Manufacturer\Api\ManufacturerRepositoryInterface"
                type="Zanders\Manufacturer\Model\ManufacturerRepository\ValidationComposite"/>-->

    <virtualType name="Zanders\Manufacturer\Model\Api\SearchCriteria\ManufacturerCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">
                    Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor
                </item>
                <item name="sorting" xsi:type="object">
                    Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor
                </item>
                <item name="pagination" xsi:type="object">
                    Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ZandersManufacturerGridFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ZandersManufacturerGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Zanders\Manufacturer\Model\ResourceModel\Manufacturer\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">ZandersManufacturerGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Zanders\Manufacturer\Model\ResourceModel\Manufacturer\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zanders_manufacturer</argument>
            <argument name="resourceModel" xsi:type="string">Zanders\Manufacturer\Model\ResourceModel\Manufacturer
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zanders_manufacturer_index_listing_data_source" xsi:type="string">
                    Zanders\Manufacturer\Model\ResourceModel\Manufacturer\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>