<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="dolphin_dynamicrules" id="dolphin_dynamicrules">
			<module before="Magento_Backend" name="Dolphin_DynamicRules"/>
		</route>
	</router>
</config>
