<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="zanders_promotedmanufacturer" id="zanders_promotedmanufacturer">
			<module before="Magento_Backend" name="Zanders_PromotedManufacturer"/>
		</route>
	</router>
</config>
