<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eshow_listing_data_source" xsi:type="string">
                    Zanders\Eshow\Model\ResourceModel\Eshow\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Zanders\Eshow\Model\ResourceModel\Eshow\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">zanders_show_specials</argument>
            <argument name="resourceModel" xsi:type="string">Zanders\Eshow\Model\ResourceModel\Eshow</argument>
        </arguments>
    </virtualType>
    <!-- For filter -->
    <type name="Zanders\Eshow\Ui\Component\EshowDataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">
                    Zanders\Eshow\Ui\Component\Eshow\FulltextFilter
                </item>
            </argument>
        </arguments>
    </type>
</config>
