/*.catalog-product-view .products.wrapper.grid.products-grid.products-related { display: table; clear: left;background-color: #fff; width: 100%;}
.catalog-product-view .product-item-info { margin: 0 auto;}	
.catalog-product-view .product-item .product-item-info:hover { margin: 0 !important; box-shadow: none !important;border: none;}
.catalog-product-view li.item.product.product-item { background-color: #fff;}*/
.catalog-product-view .owl-item li {
    text-align: center;
    background: #fff;
    -webkit-box-sizing: unset;
    width: 225px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    float: left;
    min-height: 400px;
     
    margin: 0 auto;
}

.catalog-product-view .box-collateral.box-related_products h2 {
	color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.box-collateral .owl-stage .owl-item {
    text-align: center;
    background: #fff;
    -webkit-box-sizing: unset;
    width: 225px;
   /* margin-right: 20px !important;*/
    position: relative;
    z-index: 1;
    float: left;
    min-height: 400px;
     
    margin: 0 auto;
}

img.cross-popupicon {
    width: 24px !important;
    position: absolute;
    right: 8px;
    top: 17px;
}

strong.product.name.product-item-name {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    min-height: 90px;
}
.product-item a.product-item-link {
    color: #000;
    font-weight: bold;
 }   

 .catalog-product-view .owl-nav {
    float: left;
    position: absolute;
    top: 2px;
    right: 10px;
}

.catalog-product-view .owl-dots {
    display: none;
}

.box-collateral.box-related_products {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
